/* Section Setup */

@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:  url('Sporting_Grotesque-Regular_web.woff2') format('woff2'),
          url('Sporting_Grotesque-Regular_web.woff') format('woff');
  }

body{
    margin:0;
    color:#332F2F;
    font-family: 'Sporting Grotesque_Regular';
}

section{
    /* Noise / Grain */
    background-image: url(noise-big.jpg);
    background-position: center;
    background-size: 120%;
    background-blend-mode: screen;

    /* Color */
    background-color: #a5a5a5;

    /* Alignment */
    width:100vw;
    height:100vh;
    position:fixed;

    /* Transition */
    transition: background-color 0.5s ease-out, background-position 1s ease-out;
}


/* Start Page */

.frame{
    /* Flexbox */
    display:flex;
    justify-content: center;
    flex-direction: column;

    /* Alignment */
    height: 100vh;
    text-align:center;
}

h1{
    font-family: 'Sporting Grotesque_Regular';
    font-size: 68px;
    color:#332F2F;
}

a{
    color: #332F2F;
    font-size: 24px;

    opacity: 0.5;
}

a:hover{
    opacity: 1;
}


/* Emotion Button Style */

.button-frame{
    /* Flexbox */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    /* Page Alignment */
    margin: auto;
    width: 60%;
    transform: translate( 0, 10%)
}

.button-frame button{
    width: 100px;
    height: 100px;

    padding: 160px 40px 0px 40px;
    margin:40px;
    box-sizing: content-box;
    opacity: 0.5;
    border: none;

    /* Text */
    font-family: 'Sporting Grotesque_Regular';
    font-size: 24px;
    color:#332F2F;

    
}

.button-frame button:focus {
    outline:0;
}

.button-frame button:hover{
    opacity: 1;

    transition: opacity 0.2s ease-in;

    text-decoration: underline;
}


/* Button Content */

#sad{
    background: url("sad.png") no-repeat;
    background-size: contain;
}

#happy{
    background: url("happy.png") no-repeat;
    background-size: contain;
}

#content{
    background: url("content.png") no-repeat;
    background-size: contain;
}

#fear{
    background: url("fear.png") no-repeat;
    background-size: contain;
}

#anger{
    background: url("anger.png") no-repeat;
    background-size: contain;
}

#surprise{
    background: url("surprise.png") no-repeat;
    background-size: contain;
}


/* JavaScript Funtions */

.hide{
    display:none;
}

.underlying{
    display: flex;
    flex-flow: wrap;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.complete{
    display: flex;
    width: 840px;
    margin: auto;
    justify-content: center;
    padding:60px;
}


/* Complete Page */

.completeClass{
    display:none;
    position:fixed;
    width: 60%;
    top:50%;
    left:50%;
    transform: translate( -50%, -50%);
    text-align: center;
}

#complete{
    background: url("check.png") no-repeat;
    background-size: contain;
}

#complete-container button{
    border: none;
    opacity: 0.5;

    padding-left: 50px;
    padding-top: 12px;

    font-size: 24px;
    font-family: 'Sporting Grotesque_Regular';
}

#complete-container button:hover{
    opacity: 1;

    text-decoration: underline;
}

p{
    font-size: 32px;
}


/* Label style on underlying emotions */

label{
    /* background-color: rgb(50, 82, 219); */
    color: white;
    margin: 10px;
    padding: 14px 25px 10px 25px;
    border-radius: 50px;
}

#underlying-sad label{
    background-color: rgb(70, 91, 186);
}

#underlying-happy label{
    background-color: rgb(255, 199, 0);
}

#underlying-content label{
    background-color: rgb(79, 138, 19);
}

#underlying-fear label{
    background-color: rgb(79, 79, 79);
}

#underlying-anger label{
    background-color: rgb(240, 65, 66);
}

#underlying-surprise label{
    background-color: rgb(100, 82, 216);
}

label:hover{
    opacity: 0.7;
}